<!--
KRISTIAN_TODO_NOW - People struggled to understand that "I have a specific question" means they need to type a Swedish question.
There should be ANOTHER option to submit a CUSTOM topic in English and submit it.
Option 3 is "Type my EXACT question."
The app should flow like an essay.  The top should say, "Choose one of the following:" etc...
-->

<mat-label>Select a Topic:</mat-label>
<mat-form-field>
    <mat-select [formControl]="user_selected_topic">
        @for (topic of conversation_topics; track topic) {
            <mat-option [value]="topic">{{topic}}</mat-option>
        }
    </mat-select>
</mat-form-field>
<button mat-button (click)="submit_new_topic (user_selected_topic.value, false)">
    Submit New Topic
</button>
<mat-label>If You Have a Specific Question, type it here!</mat-label>
<input name="question" [(ngModel)]="custom_user_question"/>
<button mat-button (click)="submit_new_topic (custom_user_question, true)">
    Submit Custom User Question
</button>
<!-- KRISTIAN_TODO_NOW - Move this to the right area, once I've tested it.-->
<button mat-button (click)="open_feedback_comparison_dialog_box()">I Already Have Feedback to Score!</button>
