@import '../../mixins.scss';

:host {
    display: inline-flex;
    flex-direction: column;

    :not(:first-child) {
        margin-top: 12px;
    }

    div {
        display: flex;
        gap: 30px;
        margin-left: 20px; // indent
        :first-child {
            flex-grow: 1;
        }
    }

    button {
        @include white-button-styles;
        &.mat-mdc-button-disabled {
            opacity: 0.3;
        }
    }
}