<h3>To Answer a Swedish Question, Please Submit Your Desired Topic via One of the Following Options:</h3>

<mat-radio-group [(ngModel)]="current_method">
    <mat-radio-button [value]="Topic_Selection_Method.CHOOSE_PREDEFINED_OPTION">Choice #1: Select a Predefined Topic</mat-radio-button>
    <mat-radio-button [value]="Topic_Selection_Method.TYPE_CUSTOM_TOPIC">Choice #2: Type Your Desired Topic (in English)</mat-radio-button>
    <mat-radio-button [value]="Topic_Selection_Method.TYPE_SPECIFIC_QUESTION">Choice #3: I Have a Specific Swedish Question!</mat-radio-button>
</mat-radio-group>

@if (current_method === Topic_Selection_Method.CHOOSE_PREDEFINED_OPTION) {
    <div>
        <mat-form-field>
            <mat-select [formControl]="user_selected_topic">
                @for (topic of conversation_topics; track topic) {
                    <mat-option [value]="topic">{{topic}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <button mat-button
                [disabled]="new_topic_is_empty (user_selected_topic.value)"
                (click)="submit_new_topic (user_selected_topic.value, false)">
            Submit Selected Topic
        </button>
    </div>
}

@if (current_method === Topic_Selection_Method.TYPE_CUSTOM_TOPIC) {
    <div>
        <input name="custom_user_topic" [(ngModel)]="custom_user_topic"/>
        <button mat-button
                [disabled]="new_topic_is_empty (custom_user_topic)"
                (click)="submit_new_topic (custom_user_topic, false)">
            Submit Custom User Topic
        </button>
    </div>
}

@if (current_method === Topic_Selection_Method.TYPE_SPECIFIC_QUESTION) {
    <div>
        <input name="question" [(ngModel)]="custom_user_question"/>
        <button mat-button
                [disabled]="new_topic_is_empty (custom_user_question)"
                (click)="submit_new_topic (custom_user_question, true)">
            Submit Custom User Question
        </button>
    </div>
}

<h3>Skip the Question!  I Already Have Feedback I Want to Measure!</h3>
<div>
    <button mat-button
            (click)="direct_user_to_feedback_scoring_page ()">
        Skip to Feedback Scoring Page
    </button>
</div>
