<h2>Question from Bedrock Here:</h2>
<div>
    <!--KRISTIAN_TODO_NOW - The question uses many, many, MANY words that I do NOT recognize.  Either:-->
    <!--1. Submit, as part of my prompt a means by which to request simpler questions from Bedrock and/or-->
    <!--2. Allow the user to hover over a specific word and get a bubble indicating its English translation.-->
    <mat-progress-spinner mode="indeterminate" *ngIf="question_is_loading == true"></mat-progress-spinner>
    <p>{{ current_question }}</p>
    <input name="prompt" [(ngModel)]="user_response"/>
    <button mat-button (click)="solicit_feedback_for_response()">Submit Answer and Solicit Feedback</button>
    <!--KRISTIAN-TODO_NOW - What if I accidentally "go back" and want the old question again?-->
</div>
<!--KRISTIAN_TODO_NOW - Feedback should be in a dialog.-->
<div>
    <!--KRISTIAN_TODO_NOW - Need to DISABLE buttons while feedback is LOADING!-->
    <!--KRISTIAN_TODO_NOW - Need to DISABLE the "open feedback comparison dialog box" button when feedback does not exist.-->
    <mat-progress-spinner mode="indeterminate" *ngIf="feedback_is_loading === true"></mat-progress-spinner>
    <!-- KRISTIAN_NOTE - Uncomment feedback if it doesn't populate correctly. -->
    <!-- <p>{{ feedback }}</p> -->
    <ng-container *ngFor="let point of split_feedback_into_bullet_points">
        <li>{{ point }}</li>
    </ng-container> <!--KRISTIAN_TODO_NOW - View Feedback in a dialog box.-->
    <button mat-button (click)="direct_user_to_feedback_scoring_page()">Score My Feedback!</button>
    <button mat-button (click)="pose_question_based_on_topic()">Request Follow-Up Question</button>
    <button mat-button (click)="request_another_topic ()">Go Back and Change Topic</button>
    <!--KRISTIAN_TODO_NOW - Need better button spacing.-->
</div>
<br>
<button mat-button (click)="open_feedback_comparison_dialog_box()">What's Actually Left of this Dialog Box Now?</button>
