<h2>Question from Bedrock Here:</h2>
<div>
    <!--KRISTIAN_TODO_NOW - The question uses many, many, MANY words that I do NOT recognize.  Either:-->
    <!--1. Submit, as part of my prompt a means by which to request simpler questions from Bedrock and/or-->
    <!--2. Allow the user to hover over a specific word and get a bubble indicating its English translation.-->
    <mat-progress-spinner mode="indeterminate" *ngIf="question_is_loading == true"></mat-progress-spinner>
    <p>{{ current_question }}</p>
    <p>{{ ministral_question_for_test }}</p>
    <p>{{ gemma_question_for_test }}</p>
    <p>{{ gemma_mini_question_for_test }}</p>
    <input name="prompt" [(ngModel)]="user_response"/>
    <button mat-button
            (click)="solicit_feedback_for_response()"
            [disabled]="question_or_feedback_is_loading === true || response_is_empty === true">
        Submit Answer and Solicit Feedback
    </button>
</div>
<div>
    <mat-progress-spinner mode="indeterminate" *ngIf="feedback_is_loading === true"></mat-progress-spinner>
    <!-- KRISTIAN_NOTE - Uncomment feedback if it doesn't populate correctly. -->
    <!-- <p>{{ feedback }}</p> -->
    @if (feedback != null) {
        @for (point of split_feedback_into_bullet_points; track point) {
            <li>{{ point }}</li>
        }
    } @else {
        <p>Feedback will load here once you answer a question...</p>
    }
    <button mat-button
            (click)="direct_user_to_feedback_scoring_page()"
            [disabled]="question_or_feedback_is_loading === true">
        Score My Feedback!
    </button>
    <button mat-button 
            (click)="pose_question_based_on_topic()"
            [disabled]="question_or_feedback_is_loading === true">
        Request Follow-Up Question
    </button>
    <button mat-button
            (click)="request_another_topic ()"
            [disabled]="question_or_feedback_is_loading === true">
        Go Back and Change Topic
    </button>
</div>
