<h2 mat-dialog-title>Submit Feedback For Comparison Here</h2>
<mat-dialog-content>
    <!--KRISTIAN_TODO - Need accordions for the content areas because the feedback is very large along with the score explanation and the feedback answer key.-->
    <!--KRISTIAN_NOTE - Either the feedback given by a question and answer pair comes from the Mistal AI, or the user types it in themselves. -->
    @if (ai_provided_feedback == null) {
        <input name="previously-given-feedback" [(ngModel)]="user_provided_feedback_from_previous_conversation"/>
    } @else {
        <ng-container *ngFor="let point of ai_provided_feedback">
            <li>{{ point }}</li>
        </ng-container>
    }
    <br>
    <!--KRISTIAN_TODO - This is fine for comparing pairs of feedback statements one-by-one, but
        I need a mechanism for comparing and scoring dozens and dozens of feedback statements at once.-->
    <!--KRISTIAN_TODO - This needs to be a giant text field.-->
    <input name="feedback-to-compare" [(ngModel)]="feedback_answer_key"/>
    <br>
    <!--KRISTIAN_TODO - Need a progress wheel spinning here when the score is loading...-->
    <p>Feedback Score: {{feedback_score}}</p>
</mat-dialog-content>
<mat-dialog-actions>
    <!--KRISTIAN_TODO - If we lack the feedback_answer_key above, this button should be disabled.-->
    <!--KRISTIAN_TODO - How to close the dialog and transmit the score?-->
    <button mat-button (click)="score_feedback()">Score My Feedback!</button>
    <button mat-button (click)="cancel_feedback()">No Thanks</button>
</mat-dialog-actions>
<!--KRISTIAN_TODO - Make this dialog resizable when time permits...-->
